<div class='row'>
  <div class="col-md-12">
    <div class="jumbotron">
      <center> 
        <h1>{{teamName}} <img ng-src="{{team_img}}"> </h1> 
      </center>
      <p class="text-center"><b>City: </b>{{team.city}} <b>| State: </b>{{team.state}} <b>| Mascot: </b>{{team.mascot}} <b>| Division:</b> {{team.division}} <b>| Championships:</b> {{team.championships}}</p>
    </div>
  </div>
</div>
<div class="col-md-12">
  <center> 
    <crime-categories-pie></crime-categories-pie>
  </center>
</div>

<table id="table">
  <thead>
    <tr><th class="site_name">Name</th><th>Position</th><th>Category</th><th>Encounter</th><th>Outcome</th></tr>
  </thead>
  <tbody>
  </tbody>
</table>