<!DOCTYPE html>
<html>
<head>
<style>
h1.MyName, a, p {
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

</style>
</head>
<body>
    <div class='container-fluid'>
        <div class='container'>
            <div id='info' class='jumbotron' style="background-image:url(img/background_ws2.jpg); background-size: 100% 100%;">
				<center>
				<div id="nameSection" class="pure-u-1 pure-u-md-11-24">
				  <h1 class='MyName'><img src="img/Gabriel_Moreira_Picture_Summer_2016.jpg"  width="300" height="300" alt="Gabriel Moreira" class="img-circle img-responsive"> Gabriel Moreira</h1> 
		            <div id="linksSection">
		              <a href="mailto:gabrielgo.moreira@gmail.com">Email</a> &nbsp;/&nbsp;
		              <a href="documents/Moreira_Gabriel_Summer_2016.pdf">Resume</a> &nbsp;/&nbsp;
		              <a href="https://www.linkedin.com/in/gabriel-moreira-263ab473">LinkedIn</a> &nbsp;/&nbsp;
		              <a href="https://github.com/gabrielgomoreira">GitHub</a>
		            </div>
		          </div>

				  <p>Temporary website for project and resume display</p> 
				 </center>
			</div>
		</div>
	</div>

</body>
</html>



