.zoom center{
	-moz-transition:-moz-transform .2s ease-in; 
	-webkit-transition:-webkit-transform .2s ease-in; 
	-o-transition:-o-transform .2s ease-in;
}
.zoom center:hover{
	-moz-transform:scale(1.1); 
	-webkit-transform:scale(1.1);
	-o-transform:scale(1.1);
}

.teamLink {
	color: #333;
}

.panel-body > img {
	margin: 0 auto;
}

pre {
	margin-top: 15px;
}


/******** SPLASH **********/


.splash-page {
	text-align: center;
	height: 100vh;
	background-image: url("/static/img/background_nyc.jpg");
	background-size: cover;
}

.splash-image {
	padding-top: 100px;
	width: 600px;
	max-width: 75%;
	-webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
	-webkit-keyframes: none;

}

.splash-image:hover {
	width: 700px;
	opacity: 1;
	max-width: 75%;
	-webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

div.splash-description {
	padding-top: 50px;
}
.splash-description p {
	color: white;
	font-size: 20px;
}

.footer {
	padding-top: 10px;
	font-family: "Marvel";
	font-weight: 200;
	color: white;
}
