<div class="container" style="width:100%; margin: 0px; padding-top: 5em !important">
    <div class='container-fluid'>
        <div class='container'>

            <div id='info' class='jumbotron'>

                <div class='row'>
                    <h1>About the Team 4thToLife</h1>
                    <div class="col-md-4">
                        <div class="panel default bio">
                            <div class="panel-body">
                                <h2 class="text-center">Charlie Cox</h2>
                                <img src="img/charlie.jpg" alt="Charlie Cox" class="img-circle img-responsive">
                                <dl>
                                    <dt>Bio:</dt>
                                    <dd> Things about Charlie </dd>
                                    <dt>Major Responsibilities:</dt>
                                    <dd>Things Charlie did</dd>
                                    <dt>Number of Commits:</dt>
                                    <dd>TBA</dd>
                                    <dt>Number of Issues:</dt>
                                    <dd>TBA</dd>
                                    <dt>Number of Unit Tests:</dt>
                                    <dd>TBA</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel default bio">
                            <div class="panel-body">
                                <h2 class="text-center">Gabriel Moreira</h2>
                                <img src="img/gabriel.jpg" alt="Gabriel Moreira" class="img-circle img-responsive">
                                <dl>
                                    <dt>Bio:</dt>
                                    <dd> Things about Gabriel </dd>
                                    <dt>Major Responsibilities:</dt>
                                    <dd>Things Gabriel did</dd>
                                    <dt>Number of Commits:</dt>
                                    <dd>TBA</dd>
                                    <dt>Number of Issues:</dt>
                                    <dd>TBA</dd>
                                    <dt>Number of Unit Tests:</dt>
                                    <dd>TBA</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel default bio">
                            <div class="panel-body">
                                <h2 class="text-center">Jena Cameron</h2>
                                <img src="img/jena.jpg" alt="Jena Cameron" class="img-circle img-responsive">
                                <dl>
                                    <dt>Bio:</dt>
                                    <dd> When I'm not coding, I'm hiking. </dd>
                                    <dt>Major Responsibilities:</dt>
                                    <dd>I worked on the report and front-end stuff</dd>
                                    <dt>Number of Commits:</dt>
                                    <dd>TBA</dd>
                                    <dt>Number of Issues:</dt>
                                    <dd>TBA</dd>
                                    <dt>Number of Unit Tests:</dt>
                                    <dd>TBA</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class="col-md-4">
                        <div class="panel default bio">
                            <div class="panel-body">
                                <h2 class="text-center">Hunter DeGroot</h2>
                                <img src="img/hunter.jpg" alt="Hunter DeGroot" class="img-circle img-responsive">
                                <dl>
                                    <dt>Bio:</dt>
                                    <dd> Things about Hunter </dd>
                                    <dt>Major Responsibilities:</dt>
                                    <dd>Things Hunter did</dd>
                                    <dt>Number of Commits:</dt>
                                    <dd>TBA</dd>
                                    <dt>Number of Issues:</dt>
                                    <dd>TBA</dd>
                                    <dt>Number of Unit Tests:</dt>
                                    <dd>TBA</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel default bio">
                            <div class="panel-body">
                                <h2 class="text-center">Andy Medina</h2>
                                <img src="img/andy.jpg" alt="Andy Medina" class="img-circle img-responsive">
                                <dl>
                                    <dt>Bio:</dt>
                                    <dd> Things about Andy </dd>
                                    <dt>Major Responsibilities:</dt>
                                    <dd>Things Andy did</dd>
                                    <dt>Number of Commits:</dt>
                                    <dd>TBA</dd>
                                    <dt>Number of Issues:</dt>
                                    <dd>TBA</dd>
                                    <dt>Number of Unit Tests:</dt>
                                    <dd>TBA</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <br>
    <hr>

    <div class="row">
        <div class="col-md-3 col-md-offset-2 col-sm-4">
            <h2>Team Stats</h2>
            <ul>
                <li>Total Number of Commits: TBA</li>
                <li>Total Number of Issues: TBA</li>
                <li>Total Number of Unit Tests: TBA</li>
                <li><a href="https://apiary.io/" target=”_blank”>Our Apiary API page</a></li>
                <li><a href="https://github.com/c4k9c0/cs373-idb" target=”_blank”>Team GitHub Repository</a></li>
                <li><a href="https://github.com/c4k9c0/cs373-idb/issues" target=”_blank”>Team GitHub Issue Tracker</a></li>
                <li><a href="https://github.com/c4k9c0/cs373-idb/wiki" target=”_blank”>Team GitHub Wiki</a></li>
            </ul>
        </div>

        <div class="col-md-3 col-sm-4">
            <h2>Data</h2>
            <ul>
                <li>Data Sources: <a href="http://nflarrest.com/api/">NFL Arrests API</a></li>
                <li>Data Scraping: <a href="https://github.com/c4k9c0/cs373-idb/wiki/Data-Scrapping">GitHub Wiki Page</a></li></li>
            </ul>
        </div>

        <div class="col-md-3 col-sm-12 col-xs-12">
            <h2>Other Pages</h2>
            <ul>
                <li><a href="http://google.com/">TBA</a></li>
            </ul>
        </div>

        <div class="col-lg-9 col-lg-offset-2 col-md-12 col-md-offset-2 col-sm-5 ">
            <h2>Tools</h2>
              API:
              <p> <a href="https://apiary.io/">Apiary</a> <br>
              </p>      

              Front-end:
              <p> <a href="http://getbootstrap.com/">Boostrap</a> <br>
                  <a href="https://angularjs.org/">AngularJS</a> <br>
                  <a href="http://flask.pocoo.org/">Flask</a> <br>
              </p>


              Collaboration:
              <p> <a href="https://github.com/">Github</a> <br>
                  <a href="https://slack.com/">Slack</a> <br>
              </p>

              Database:
              <p> <a href="http://www.sqlalchemy.org/">SQL Alchemy</a><br>
              </p>

              Data Modeling:
              <p> <a href="http://yuml.me/">yUML</a><br>
              </p>

              Server and Hosting
              <p> <a href="https://nc.me/">Namecheap</a><br>
                  <a href="http://www.rackspace.com/">Rackspace</a>
              </p>
        </div>
      </div>
    </div>
  </div>
</div>
